absl-py==0.15.0
aiohttp==3.7.4.post0
alabaster==0.7.12
apparmor==3.0.3
appdirs==1.4.4
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
Automat==20.2.0
Babel==2.9.1
Beaker==1.11.0
Brlapi==0.8.3
btrfsutil==5.14.1
CacheControl==0.12.6
cachetools==4.2.4
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
cffi==1.14.6
chardet==4.0.0
clang==5.0
click==8.0.1
colorama==0.4.4
constantly==15.1.0
contextlib2==0.6.0.post1
cryptography==3.4.8
cycler==0.10.0
deluge==2.0.4.dev56
discord==1.7.3
discord.py==1.7.3
distlib==0.3.2
distro==1.6.0
dnspython==2.1.0
docopt==0.6.2
docutils==0.17.1
dvg-pyqtgraph-threadsafe==3.1.0
dvg-ringbuffer==1.0.3
evdev==1.4.0
flatbuffers==1.12
future==0.18.2
gast==0.4.0
GeoIP==1.3.2
google-auth==2.3.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.41.0
h5py==3.1.0
html5lib==1.1
hyperlink==21.0.0
idna==3.2
imagesize==1.2.0
incremental==21.3.0
iso8601==0.1.16
Jinja2==3.0.1
joblib==1.1.0
kazam==1.4.5
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lensfun==0.3.95
LibAppArmor==3.0.3
libfdt==1.6.1
libtorrent===1.2.14-build-libtorrent-rasterbar-src-libtorrent-rasterbar-1.2.14-bindings-python
libvirt-python==7.3.0
louis==3.19.0
lutris==0.5.8.4
lxml==4.6.3
Mako==1.1.5
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.2
more-itertools==8.10.0
msgpack==1.0.2
multidict==5.1.0
nftables==0.1
numpy==1.19.5
oauthlib==3.1.1
opt-einsum==3.3.0
ordered-set==4.0.2
packaging==20.9
pandas==1.3.1
pep517==0.11.0
Pillow==8.3.1
pipreqs==0.4.10
ply==3.11
progress==1.5
protobuf==3.19.0
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycparser==2.20
pygame==2.0.1
Pygments==2.10.0
PyGObject==3.40.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqtgraph==0.12.3
pyserial==3.5
python-appimage==0.43
python-dateutil==2.8.2
python-distutils-extra==2.39
pytz==2021.1
pyxdg==0.27
PyYAML==5.4.1
rados==2.0.0
rbd==2.0.0
rencode==1.0.6
requests==2.26.0
requests-oauthlib==1.3.0
resolvelib==0.5.5
retrying==1.3.3
rgw==2.0.0
rsa==4.7.2
scikit-learn==1.0
scipy==1.7.1
serial==0.0.97
service-identity==21.1.0
setproctitle==1.2.2
six==1.15.0
snowballstemmer==2.1.0
Sphinx==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
team==1.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
threadpoolctl==3.0.0
tk==0.1.0
toml==0.10.2
tomli==1.2.1
torch==1.9.0
torchaudio==0.9.0
torchvision==0.10.0
ttkbootstrap==0.5.1
Twisted==21.7.0
typing-extensions==3.7.4.3
urllib3==1.26.6
webencodings==0.5.1
Werkzeug==2.0.2
wrapt==1.12.1
yarg==0.1.9
yarl==1.6.3
zope.interface==5.4.0
